<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="<%= logo %>" type="image/gif" sizes="16x16" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!-- Primary Meta Tags (dynamic) -->
    <title><%= (seo && seo.title) ? seo.title : 'Vidyavedika | Empowering Education & Knowledge Sharing' %></title>
    <meta name="title" content="<%= (seo && seo.title) ? seo.title : 'Vidyavedika | Empowering Education & Knowledge Sharing' %>">
    <meta name="description" content="<%= (seo && seo.meta_description) ? seo.meta_description : 'Vidyavedika is a platform dedicated to learning, knowledge sharing, and empowering students through education, resources, and guidance.' %>">
    <meta name="keywords" content="<%= (seo && seo.meta_keywords) ? seo.meta_keywords : 'Vidyavedika, education platform, learning portal, student resources' %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= (seo && seo.canonical) ? seo.canonical : (typeof fullUrl !== 'undefined' ? fullUrl : 'https://www.vidyavedika.com') %>" />
    <meta property="og:title" content="<%= (seo && seo.og_title) ? seo.og_title : ((seo && seo.title) ? seo.title : 'Vidyavedika | Empowering Education & Knowledge Sharing') %>" />
    <meta property="og:description" content="<%= (seo && seo.og_description) ? seo.og_description : ((seo && seo.meta_description) ? seo.meta_description : 'Vidyavedika - education and courses.') %>" />
    <meta property="og:image" content="<%= (seo && seo.og_image) ? seo.og_image : 'https://www.vidyavedika.com/assets/images/banner.jpg' %>" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="<%= (seo && seo.canonical) ? seo.canonical : (typeof fullUrl !== 'undefined' ? fullUrl : 'https://www.vidyavedika.com') %>" />
    <meta name="twitter:title" content="<%= (seo && seo.og_title) ? seo.og_title : ((seo && seo.title) ? seo.title : 'Vidyavedika') %>" />
    <meta name="twitter:description" content="<%= (seo && seo.og_description) ? seo.og_description : ((seo && seo.meta_description) ? seo.meta_description : '') %>" />
    <meta name="twitter:image" content="<%= (seo && seo.og_image) ? seo.og_image : 'https://www.vidyavedika.com/assets/images/banner.jpg' %>" />

    <!-- Canonical -->
    <link rel="canonical" href="<%= (seo && seo.canonical) ? seo.canonical : (typeof fullUrl !== 'undefined' ? fullUrl : 'https://www.vidyavedika.com') %>" />

    <meta name="robots" content="<%= (seo && seo.robots) ? seo.robots : 'index,follow' %>" />

    <!-- If there is JSON-LD schema in the DB, render it -->
    <% if (seo && seo.schema_json) { %>
  <script type="application/ld+json"><%- seo.schema_json %></script>
<% } %>

    <!-- CSS Files
    ================================================== -->
    <link
      href="/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
      id="bootstrap"
    />
    <link href="/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/css/swiper.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!-- color scheme -->
    <link
      id="colors"
      href="/css/colors/scheme-01.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <div id="wrapper">
      <a href="#" id="back-to-top"></a>

      <!-- preloader begin -->
      <div id="de-loader"></div>
      <!-- preloader end -->

      <!-- header begin -->
      <header class="transparent scroll-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="de-flex sm-pt10">
                <div class="de-flex-col">
                  <!-- logo begin -->
                  <div id="logo">
                    <a href="/">
                      <img class="logo-main" src="<%= logo %>" alt="" />
                      <img class="logo-scroll" src="<%= logo %>" alt="" />
                      <img class="logo-mobile" src="<%= logo %>" alt="" />
                    </a>
                  </div>
                  <!-- logo end -->
                </div>
                <div class="de-flex-col header-col-mid">
                  <!-- mainemenu begin -->
                  <ul id="mainmenu">
                    <li>
                      <a class="menu-item" href="/">Home</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/about">About Us</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/academics">Academics</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/courses">Courses</a>
                    </li>
                     <li>
                      <a class="menu-item" href="/student-life">Student Life</a>
                    </li>
                    <li><a class="menu-item" href="/gallery">Gallery</a></li>
                    <li>
                      <a class="menu-item" href="/contact">Contact</a>
                    </li>
                  </ul>
                  <!-- mainmenu end -->
                </div>
                <div class="de-flex-col">
                  <div class="menu_side_area">
                    <a href="/contact" class="btn-main fx-slide"
                      ><span>Enquiry</span></a
                    >
                    <span class="mobile-toggle " onclick="openNav()">&#9776; </span>
                  </div>

                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header end -->


        <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul>
           <li>
                      <a class="menu-item" href="/">Home</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/about">About Us</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/academics">Academics</a>
                    </li>
                    <li>
                      <a class="menu-item" href="/courses">Courses</a>
                    </li>
                     <li>
                      <a class="menu-item" href="/student-life">Student Life</a>
                    </li>
                    <li><a class="menu-item" href="/gallery">Gallery</a></li>
                    <li>
                      <a class="menu-item" href="/contact">Contact</a>
                    </li>
        </ul>
      </div>

      <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

   



